/* .Dogs {
    background-color: rgb(182, 17, 50);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dogType:nth-child(-n+100) {
    margin-top: 72px;
}
.dogType {
    color: darkred;
    background-color: rgb(238, 150, 49);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    border: thick solid brown;
    height: 550px;
    width: 455px;
    vertical-align: top;
} */